@import '../../styles.scss';

.tw-header{
  width: 100%;
  padding: 20px 10%;
  background-image: url(../../assets/img/tw-banner__bg.png);
  background-repeat: no-repeat;
  background-position: right top;
}

@media (max-width: 780px){
  .tw-header{
    overflow-x: hidden !important;
    background-size: 500px;
    padding: 20px;
  }
}
