@import '../../styles.scss';

.tw-footer{
  background-color: $tw-white;
  width: 100%;
  padding: 40px 10%;

  &__logo{
    img{
      width: 250px;
    }
  }

  &__links{
    text-align: end;
    display: flex;
    flex-direction: column;
    a{
      color: $tw-orange;
      text-decoration: none;

      &:first-child{
        margin-bottom: 20px;
      }

      &:hover{
        color: $tw-yellow;
      }
    }
  }

  &__made-by{
    margin-top: 25px;
    text-align: center;
    p{
      font-size: 16px;

    }
  }
}
