<div class="tw-banner">
  <div class="row">
    <div class="col-lg-6 tw-banner__text">
      <h4 class="tw-color__text__orange text-uppercase">Best Destinations around the world</h4>
      <h1 class="">Travel, enjoy and live a new and full life</h1>
      <p class="">Built Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it engrossed listening. Park gate sell they west hard for the.</p>

      <button type="button" class="btn btn-yellow mt-5">Find out more</button>
    </div>
    <div class="col-lg-6 tw-banner__img">
      <img src="../../../assets/img/tw-banner__img.png" alt="">
    </div>
  </div>
</div>
