<section class="tw-contact" id="tw-contact">
  <h3 class="text-center">Subscribe to get information, latest news and otherinteresting offers about Travel World</h3>

  <div class="tw-contact__form">
    <form>
      <div class="form-row">
        <div class="mb-3">
          <label for="nameValidation">Your Name</label>
          <input type="text" class="form-control" id="nameValidation" value="Ex.: Emilyn Pieritz" required>
        </div>
        <div class="mb-3">
          <label for="emailValidation">E-mail</label>
          <input type="email" class="form-control" id="emailValidation" value="your@mail.com" required>
        </div>
      </div>
      <button class="btn btn-blue" type="submit">Submit form</button>
    </form>
  </div>
</section>
