@import '../../styles.scss';

.tw-contact{
  margin: 150px auto 80px;
  background-color: $tw-yellow;
  padding: 30px 60px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-image: url(../../assets/img/tw-subscribe__bg.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-position-x: -40px;
  background-size: 110%;

  &__form{
    margin: 40px 10% 60px 25%;

    .btn{
      float: right;
    }
  }

  @media (max-width: 721px) and (max-width: 960px){
    margin: 80px 10px 80px;
    &__form{
      margin: 40px 10% 60px 10%;
    }
  }

  @media(max-width: 720px){
    margin: 80px 10px 80px;
    &__form{
      margin: 40px 10px 60px 10px;
    }

  }
}
