<section class="tw-destinations" id="tw-destination">
  <div class="tw-destinations__title text-center">
    <h4 class="tw-color__text__text text-uppercase">Top Selling</h4>
    <h2>Top Destinations</h2>
  </div>

  <div class="tw-destinations__cards row">
    <div class="tw-destinations__cards__card col-md-6">
        <img src="../../assets/img/tw-destinations__germany.png" class="card-img" alt="Germany">
        <div class="card-text">
          <h3 class="card-text">Germany</h3>
          <p>Germany offers a fascinating blend of history, culture, and natural beauty. Explore the iconic Brandenburg Gate in Berlin and visit the fairytale-like Neuschwanstein Castle.</p>
        </div>
    </div>

    <div class="tw-destinations__cards__card col-md-6">
        <img src="../../assets/img/tw-destinations__london.png" class="card-img" alt="United Kingdom">
        <div class="card-text">
          <h3 class="card-text">United Kingdom</h3>
            <p>The United Kingdom offers a perfect blend of iconic landmarks like Big Ben and Buckingham Palace, alongside picturesque countryside and charming traditional villages.</p>
        </div>
    </div>

    <div class="tw-destinations__cards__card col-md-6">
        <img src="../../assets/img/tw-destinations__portugal.png" class="card-img" alt="Portugal">
        <div class="card-text">
          <h3 class="card-text">Portugal</h3>
            <p>Portugal enchants visitors with its breathtaking coastline, historic cities such as Lisbon and Porto, and world-renowned wine regions like the Douro Valley.</p>
        </div>
    </div>

    <div class="tw-destinations__cards__card col-md-6">
        <img src="../../assets/img/tw-destinations__rome.png" class="card-img" alt="Italy">
        <div class="card-text">
          <h3 class="card-text">Italy</h3>
            <p>Italy captivates with its timeless beauty, encompassing ancient ruins like the Colosseum, breathtaking landscapes such as the Amalfi Coast, and culinary delights like authentic pizza and pasta.</p>
        </div>
    </div>

    <div class="tw-destinations__cards__card col-md-6">
        <img src="../../assets/img/tw-destinations__switzerland.png" class="card-img" alt="Switzerland">
        <div class="card-text">
          <h3 class="card-text">Switzerland</h3>
            <p>Switzerland beckons with its majestic Swiss Alps, pristine lakes, and charming cities like Zurich and Geneva, offering a perfect blend of natural beauty and cultural heritage.</p>
        </div>
    </div>

    <div class="tw-destinations__cards__card col-md-6">
        <img src="../../assets/img/tw-destinations__europe.png" class="card-img" alt="Europe">
        <div class="card-text">
          <h3 class="card-text">Europe</h3>
            <p>Europe enthralls travelers with its diverse landscapes, iconic landmarks such as the Eiffel Tower and the Colosseum, and a rich tapestry of history, art, and culture that spans across its enchanting cities.</p>
        </div>
    </div>

  </div>
</section>
