@import '../../styles.scss';

.tw-booking{
  margin: 150px auto 80px;

  &__title{
    margin-bottom: 50px;
    width: 65%;
  }

  &__topics{
    width: 60%;
    padding-left: 20px;
    li{
      display: flex;
      flex-direction: column;

      strong{
        margin-top: -27px;
        font-size: 20px;
      }
      span{
        margin-bottom: 30px;
      }
    }
  }

  &__img{
    img{
      position: absolute;
      margin-left: -180px;
      margin-top: -40px;

    }
  }

  @media(min-width: 721px) and (max-width: 960px){
    &__title{
      width: 80%;
      padding-left: 10px;
    }
    &__topics{
      width: 100%;
      padding-left: 30px;
      li{
        strong{
          margin-top: -27px;
          font-size: 20px;
        }
        span{
          margin-bottom: 30px;
        }
      }
    }
    &__img{
      img{
        margin-left: 0;
        right: 0;
        margin-top: -700px;
        width: 50%;
      }
    }

  }

  @media(max-width: 720px){
    padding-left: 10px;
    margin-top: 180px;

    &__title{
      margin-bottom: 30px;
      width: 100%;
    }

    &__topics{
      width: 100%;
      li{
        strong{
          margin-top: -27px;
          font-size: 20px;
        }
        span{
          margin-bottom: 30px;
        }
      }
    }
    &__img{
      img{
        width: 250px;
        z-index: -1;
        margin-left: 0;
        margin-top: -750px;
        right: 0;
      }
    }
  }
}
