<section class="tw-booking" id="tw-booking">
  <div class="row">
    <div class="col-md-8">
      <div class="tw-booking__title">
        <h4 class="tw-color__text__text text-uppercase">Easy and Fast</h4>
        <h2 class="text-capitalize">Book your next trip in 3 easy steps</h2>
      </div>

      <div class="tw-booking__topics">
        <ul class="tw-list__orange">
          <li>
            <strong>Choose Destination</strong>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, tortor tempus. </span>
          </li>
          <li>
            <strong>Make Payment</strong>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, tortor tempus. </span>
          </li>
          <li>
            <strong>Reach Airport on Selected Date</strong>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, tortor tempus. </span>
          </li>
        </ul>
      </div>

    </div>
    <div class="tw-booking__img col-lg-4">
      <img src="../../assets/img/tw-next__greece.png" alt="">
    </div>
  </div>
</section>
