@import '../../../styles.scss';

.navbar{
  position: absolute;
  width: 100%;
  .tw-logo{
    width: 300px;
  }
  .navbar-collapse{
    margin-left: 35%;
    .nav-link{
      font-weight: 600;
      &:hover{
        color: $tw-yellow;
      }
    }
  }
}

@media(max-width: 780px){
  .navbar{
    width: 75%;
    .tw-logo{
      width: 200px;
    }
    .navbar-collapse{
      margin-left: 20px;
    }
  }
}
