<div class="row">

  <nav class="navbar navbar-expand-lg">
    <a href="#"><img class="tw-logo" src="../../../assets/img/tw__logo.png" alt="Travel World log"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tw-navbar"
      aria-controls="tw-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="tw-navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#tw-services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tw-destination">Destinations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tw-booking">Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tw-contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

</div>
